.homeMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeMain>p {
  margin-top: 20px;
  text-align: center;
  font-family: sans-serif;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  margin: 0px 8vw;
}

.homeImg {
  border-radius: 100%;
  max-width: 500px;
  width: 100%;
}

.nomeHome {
  margin-bottom: 2.5rem;
  font-size: 3rem;
  max-width: max-content;
}

.nomeHome p {
  font-size: 24px;
}

.textWriting {
  font-weight: normal;
  color: var(--cor-cinza);
  font-size: 1.5rem;

}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1600px) {
  .nomeHome {
    font-size: 40px;
  }

  .textWriting {
    font-size: 1.5rem;
  }

  .homeImg {
    max-width: 350px;
  }

}

@media (max-width: 1024px) {
  .homeImg {
    max-width: 300px;
  }
  .homeMain{
    padding: 96px 0px;
  }
  .home {
    flex-direction: column;
    margin: 0px 2vw;
    gap: 32px;
  }

  .home-texto {
    text-align: center;
    margin: 0;
  }

  .nomeHome {
    max-width: none;
  }


}

@media (max-width: 800px) {
  .homeImg {
    max-width: 250px;
  }
}

@media (max-width: 690px) {
  .homeImg {
    max-width: 200px;
  }
}