header {
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    right: 0;
    left: 0;
    justify-content: space-between;
    display: flex;
    padding: 1.2rem 8vw;
    font-size: 18px;
}

.sombra {
    -webkit-box-shadow: var(--item-shadow);
    -moz-box-shadow: var(--item-shadow);
    box-shadow: var(--item-shadow);
}
.headerSombra{
    -webkit-box-shadow: var(--header-shadow);
    -moz-box-shadow: var(--header-shadow);
    box-shadow: var(--header-shadow);
    backdrop-filter: blur(14px);
    width: max-content;
    padding: 1.2rem;
    border-radius: 24px;
}
.blockeins{
    display: none;
}
.menu {
    display: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.menu svg {
    width: 100%;
    height: 100%;
}

.headerMobile {
    display: none;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0; 
    width: 0;
    overflow: hidden;
    background: var(--cor-branco-secundaria);
    transform-origin: right center; 
    gap: 16px;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.teste{
    position: relative;
}
.sub-menu.show {
    display: grid;
}
nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.contBtn{
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
.aHeader {
    position: relative;
    font-size: 20px;
}

.logo-name {
    font-family: 'Mochiy Pop One';
    font-weight: 400;
    font-size: 28px;
    animation: auau 1s ease-in-out;
}
@keyframes auau {
    0%{opacity: 0; transform: translateX(-30px);}
    100%{opacity: 1; transform: translateX(0);}
}
.aHeader::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -14px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--cor-destaque);
    transform: translateY(-50%);
    transition: transform 0.2s;
}

nav a:hover {
    color: var(--cor-destaque);
    transition: color 0.2s;
}

.aHeader:hover::after {
    transform: translateY(5px);
    transition: transform 250ms ease;
}



@keyframes themeEntry {
    from {
        right: 0%
    }

    to {
        right: 5%
    }
}

.themeEntry {
    animation: themeEntry 500ms ease-in;
}

.imgTheme:hover {
    background: rgba(0, 0, 0, 0.166);
}

@media (max-width: 880px) {
    .logo-name {
        display: none;
    }

    header {
        justify-content: center;
    }
    .headerSombra{
        width: 100%;
    }
}

@media (max-width: 690px) {
    .imgTheme {
        display: none;
    }

    .imgThemeMobile {
        display: block;
    }

    header {
        flex-direction: column;
        padding: 16px 0;
    }

    .headerMobile {
        display: block;
        width: 90vw;
    }
    .headerMobile-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-mobile{
        display: block;
        font-size: 22px;
    }
    .headerMobileIcons {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: center;
    }

    .imgTheme {
        position: static;
    }

    .menu {
        align-items: center;
        display: block;
    }

    .contactBtn {
        box-shadow: none;
    }

    .sub-menu a {
        display: block;
        font-size: 1rem;

    }

    header nav a {
        display: none;
    }
}