.habilidades {
    min-height: 100vh;
    align-content: center;
    text-align: center;
    background: var(--cor-teste2);
}


.habilidadesContainer {
    opacity: 0;
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    justify-content: center;

}

.habilidadesItem {
    overflow: hidden;
    position: relative;
    background: white;
    border-radius: 1.5rem;
    padding: 1rem;
    height: min-content;
    transition: scale 0.2s;
    cursor: pointer;
    z-index: 0;
}

.habilidadesItem::after {
    z-index: -1;
    top: 0px;
    left: 0;
    position: absolute;
    content: '';
    width: 200px;
    height: 130px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #19212f;
    transition: height 0.4s ease;
    padding: 4px;
}

.habilidadesItem:hover::after {
    height: 145px;
}

.habilidadesItem:hover {
    scale: 1.1;
}

.habilidadesItem p {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

.habilidadesItem p:last-child {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
}

.habilidadesItem img {
    max-width: 64px;
}
.modal{
    text-align: center;
    background: white;
    padding: 32px;
    
}
.modal img{
    width: 100px;   
    margin: auto;
}
.modal li, .modal p, .modal h2{
    color: black;
}
.modal li{
   text-align: left;
}
.closeModal {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgb(233, 78, 78);
    color: white;
    border: 0;
    border-radius: 12px;
    outline: 0;
    padding: 8px;
    background: rgb(233, 78, 78);
}

@media (max-width: 1600px) {

    .habilidadesItem p {
        font-size: 1rem;
    }

    .habilidadesItem p:last-child {
        font-size: 1rem;
    }

}

@media (max-width: 760px) {

    .habilidades {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

}

@media (max-height: 400px) {
    .modal p {
        font-size: 0.5rem;
    }

    .modal {
        top: 0;
    }
}

@media (max-width: 435px) {
    .habilidadesContainer {
        margin-left: 0;
        margin-right: 0;
    }
}