.habilidades {
    min-height: 100vh;
    align-content: center;
    text-align: center;
}

.habilidadesContainer {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.habilidadesItem {
    opacity: 0;
    border-radius: 1.5rem;
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 140px;
    background: var(--cor-projeto);
    cursor: pointer;
    color: var(--cor-preta);
    font-size: 1.5rem;
    overflow: hidden;
    border: 2px solid transparent;
    transition: 1s, background 0s, box-shadow 0s;
}

.habilidadesItem:hover {
    border: 2px solid var(--cor-destaque);
}

.habilidadesItem img {
    max-width: 64px;
}

.modal {
    text-align: center;
    background: var(--cor-branco);
    padding: 32px;
    max-width: 512px;
    width: 100%;
}

.modal img {
    width: 100px;
    margin: auto;
}

.modal li,
.modal p,
.modal h2 {
    color: var(--cor-preta);
}

.modal li {
    text-align: left;
}

.closeModal {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgb(233, 78, 78);
    color: white;
    border: 0;
    border-radius: 12px;
    outline: 0;
    padding: 8px;
    background: rgb(233, 78, 78);
}

@media (max-width: 1600px) {

    .habilidadesItem p {
        font-size: 1rem;
    }

    .habilidadesItem p:last-child {
        font-size: 1rem;
    }

}

@media (max-width: 1200px) {
    .habilidades {
        padding: 96px 0px;
    }
}

@media (max-width: 570px) {
    .habilidadesContainer{
        margin: 0;
        padding: 0 16px;
    }
}

@media (max-height: 400px) {
    .modal p {
        font-size: 0.5rem;
    }

    .modal {
        top: 0;
    }
}
