footer {
    padding: 64px 16px;
    background: var(--cor-footer);
    text-align: center;
}
.footerContainer{
    display: flex;
    justify-content: space-around;
}
footer p {
    color: var(--cor-preta);
    font-weight: bold;
}

.footerImg {
    border-radius: 100%;
    width: 42px;
}

.footerNav a,
.footerCredits a {
    font-weight: 400;
}

.footerNav h1,
.footerCredits h1 {
    font-size: 22px;
    margin-bottom: 5px;
}


