footer {
    padding: 64px 16px;
    background: #19191a;
    text-align: center;
    color: white;
}
.footerContainer{
    display: flex;
    justify-content: space-around;
}
footer p {
    font-weight: bold;
}
footer p, footer h1,footer a{
    color: white;
}
.footerImg {
    border-radius: 100%;
    width: 42px;
}
.footerNav{
    display: flex;
    gap: 32px;
}
.footerNav a,
.footerCredits a {
    font-weight: 400;
}

.footerNav h1,
.footerCredits h1 {
    font-size: 22px;
    margin-bottom: 5px;
}


@media (max-width: 660px) {
    .footerContainer{
        flex-direction: column;
        gap: 16px;
    }
}