/* .blog__main{
    max-width: 1024px;
    width: 100%;
    margin: auto;
    padding-top: 128px;
    min-height: 100vh;
    background: var(--cor-teste2);
}
.blog__main__h1{
    text-align: center;
    font-size: 3rem;
}
section{
    display: flex;
    flex-wrap: wrap;
}
article{
    width: 50%;
    padding: 36px 12px;
    cursor: pointer;
}
article:hover{
    background: rgba(255, 255, 255, 0.077);
}
article p{
    color: var(--cor-cinza);
} */