.projetos{
    min-height: 100vh;
    text-align: center;
    align-content: center;
}
.swiper-container{
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
    gap: 32px;
    font-size: 24px;
}
.swiper-container h1{
    font-size: 28px;
}
.swiper-container2{
    width: 80%;
}
.swiper-button-next{
    left: 92% !important;
}
.swiper-button-prev{
    left: 5% !important; 
}
.telaApp{
    max-width: 250px;
    width: 100%;
}
.telaSite{
    max-width: 768px;
    width: 100%;
}
.studyImg{
    width: 100px;
}
.projetosBtn{
    background: var(--cor-preta);
    border: 0;
    border-radius: 4px;
    color: var(--cor-branco);
    cursor: pointer;
    outline: 0;
    padding: 6px;
    font-size: 24px;
}
.versiteBtn{
    background: var(--cor-destaque);
    color: white;
    width: max-content;
    padding: 4px 12px;
}
.projetos-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}