* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: var(--cor-branco);
  background: var(--cor-preta);
}

:root {
  --cor-preta: #333333;
  --cor-branco: #ffffff;
  --cor-branco-secundaria: linear-gradient(271deg, #ffffff 0%, #f1eef9 100%);
  --cor-cinza: rgb(90, 90, 90);
  --cor-gif: 0px 0px 20px 0px #0000000e;
  --habCard-shadow: 0px 0px 12px #0000004d;
  --cor-destaque: #4D54FF;
  --cor-footer: #d8d9e1;
  --cor-teste: rgb(255, 255, 255);
  --cor-teste2: rgba(0, 0, 0, 0.03);
  --tamanho-secao: 1024px;
}

.dark-theme {
  --cor-preta: #ffffff;
  --cor-branco: #333333;
  --cor-branco-secundaria: #0d0d10;
  --cor-cinza: rgb(201, 201, 201);
  --cor-gif: 0px 0px 20px #4d53ff1c;
  --habCard-shadow: 0px 0px 12px #778bff63;
  --cor-destaque: #4D54FF;
  --cor-footer: #060608;
  --cor-teste: #09090b;
  --cor-teste2: rgba(255, 255, 255, 0.03);
}

.span {
  background: linear-gradient(-90deg, rgba(77, 84, 255, 1) 0%, rgb(146, 170, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--cor-destaque);
}

.span::selection {
  -webkit-text-fill-color: var(--cor-branco);
  background: var(--cor-preta);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--cor-branco-secundaria);
}

header {
  align-items: center;
  background: var(--cor-branco-secundaria);
  position: fixed;
  top: 0;
  z-index: 10;
  right: 0;
  left: 0;
  justify-content: space-around;
  display: flex;
  padding: 1.2rem;
  font-size: 18px;
  box-shadow: 0px 0px 8px #00000000;
}

.menu {
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.menu svg{
  width: 100%;
  height: 100%;
}

.sub-menu {
  justify-items: center;
  display: none;
  overflow: hidden;
}

.sub-menu.show {
  display: grid;
}

.contactBtn {
  border-radius: 12px;
  padding: 8px;
  color: white;
  background: var(--cor-destaque);
  box-shadow: 0px 0px 15px rgba(0, 81, 255, 0.664);
}

.contactBtn:hover {
  color: white;
  background: #686dff;
  transition: all 0.2s ease;
}

.logo {
  display: flex;
  align-items: center;
}

a, h1, h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: var(--cor-preta);
}
li, p{
  font-family: sans-serif;
  font-weight: 400;
  color: var(--cor-preta);
}
a {
  color: var(--cor-preta);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.aHeader {
  position: relative;
}

.aHeader::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -14px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--cor-destaque);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

nav a:hover {
  color: var(--cor-destaque);
  transition: color 0.2s;
}

.aHeader:hover::after {
  transform: translateY(5px);
  transition: transform 250ms ease;
}

.imgTheme {
  width: 38px;
  position: fixed;
  cursor: pointer;
  top: 50%;
  right: 5%;
  padding: 4px;
  border-radius: 8px;
  transition: background 200ms ease;
  animation: themeEntry 1s ease-in;
}

@keyframes themeEntry {
  from {
    right: 0%
  }

  to {
    right: 5%
  }
}

.imgTheme:hover {
  background: rgba(0, 0, 0, 0.166);
}

.logo p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home {
  height: var(--tamanho-secao);
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 1024px;

}

.homeImg {
  animation: floating 4s infinite ease-in-out;
  border-radius: 100%;
  box-shadow: var(--cor-gif);
  max-width: 500px;
  width: 100%;
}

.home-texto {
  width: 100%;
  margin-left: 4rem;
}

.nomeHome {
  margin-bottom: 2.5rem;
  font-size: 3rem;
  max-width: max-content;
}

.textWriting {
  font-weight: normal;
  height: 222px;
  color: var(--cor-cinza);
  font-size: 1.5rem;

}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

.sobre {
  align-content: center;
  height: var(--tamanho-secao);
  background: var(--cor-teste2);
  padding-bottom: 8rem;
  text-align: center;
}

.QuemSouP {
  text-align: center;
  font-size: 3rem;
}


.sobreContainer {
  background: var(--cor-branco-secundaria);
  display: flex;
  padding: 2rem;
  text-align: left;
  max-width: 1024px;
  margin: auto;
  box-shadow: var(--cor-gif);
  border-radius: 24px;
}

.sobreContainer-texto {

  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    font-weight: normal;
  }
}

.sobreContainer-texto p:first-child {
  text-align: center;
  font-size: 1.3em;
}

.sobreContainer img {

  border-radius: 100%;
  max-width: 384px;
  height: 100%;
}

.sobreContainerImg {
  margin-left: 36px;
  z-index: 0;
  position: relative;
}

.sobreContainerImg::before {
  filter: blur(20px);
  content: '';
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: linear-gradient(90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
  top: 5%;
  left: 5%;
  z-index: -1;
  animation: neon 3s infinite linear;
}

@keyframes neon {
  from {
    rotate: 360deg
  }

  to {
    rotate: 0deg;
  }
}

@keyframes shadowAnima {
  0% {
    box-shadow: 0px 0px 0.438rem blue;
  }

  10% {
    box-shadow: 0px 0px 0.438rem white;
  }

  20% {
    box-shadow: 0px 0px 0.438rem blue;
  }

  30% {
    box-shadow: 0px 0px 0.438rem white;
  }

  40% {
    box-shadow: 0px 0px 0.438rem blue;
  }

  50% {
    box-shadow: 0px 0px 0.438rem white;
  }

  60% {
    box-shadow: 0px 0px 0.438rem blue;
  }

  70% {
    box-shadow: 0px 0px 0.438rem white;
  }

  80% {
    box-shadow: 0px 0px 0.438rem blue;
  }

  90% {
    box-shadow: 0px 0px 0.438rem white;
  }

  100% {
    box-shadow: 0px 0px 0.438rem blue;
  }
}

.habilidades {
  height: var(--tamanho-secao);
  align-content: center;
  text-align: center;
  background: var(--cor-teste2);
}

.textAnim {
  opacity: 0;
  font-size: 3rem;
}

.habilidadesContainer {
  opacity: 0;
  margin-left: 10rem;
  margin-right: 10rem;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  justify-content: center;

}

.habilidadesItem {
  overflow: hidden;
  position: relative;
  box-shadow: var(--habCard-shadow);
  background: white;
  border-radius: 1.5rem;
  padding: 1rem;
  height: min-content;
  transition: scale 0.2s;
  cursor: pointer;
  z-index: 0;
}

.habilidadesItem::after {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  width: 200px;
  height: 130px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #4D54FF;
  transition: height 0.4s ease;
}

.habilidadesItem:hover::after {
  height: 160px;
}

.habilidadesItem:hover {
  scale: 1.1;
}

.habilidadesItem p {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}

.habilidadesItem p:last-child {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
}

.habilidadesItem img {
  max-width: 64px;
}

.modais {
  display: none;
  position: fixed;
  z-index: 11;
  top: 0%;
  right: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.452);
}

.modal p {
  font-size: 1rem;
}

.modal {
  padding: 2rem;
  position: relative;
  top: 14%;
  border-radius: 1rem;
  z-index: 12;
  max-width: max-content;
  margin: auto;
  background: var(--cor-branco-secundaria);
}

.modal img {
  width: 100px;
}

.modal-text {
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal-1,
.modal-2,
.modal-3,
.modal-4,
.modal-5,
.modal-6 {
  display: none;
}
.modalUL{
  text-align: left;
}
.closeModal {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgb(233, 78, 78);
  color: white;
  border: 0;
  border-radius: 12px;
  outline: 0;
  padding: 8px;
  background: rgb(233, 78, 78);
}

.mover {
  transform: translateX(-1280px);
  transition: all 0.5s ease;
}

.projetos {
  text-align: center;
  align-content: center;
  height: var(--tamanho-secao);
}

.projetosLinks {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.projetosLinks a:hover svg {
  transform: translateY(-5px);
  transition: transform 100ms ease;
}

.carrossel {
  border-radius: 24px;
  /* box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.23); */
  width: 1280px;
  overflow: hidden;
  margin: auto;
  opacity: 0;
  box-sizing: border-box;
}

.carrossel .container {
  width: 2400px;
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.slide,
.tccImagem,
.tccTexto {
  background: var(--cor-teste);
}

.slide {
  background-size: cover;
  width: 1280px;
  flex-shrink: 0;
}

.tccConteudo {
  /* height: inherit; */
  display: flex;
  padding: 3rem;
}

.API {
  padding: 2rem;
}

.API a {
  justify-content: center;
  display: flex;
  align-items: center;
}

.API img {
  width: 100px;
}

.apiUl {
  text-align: left;
  font-size: 1.5rem;
}

.slideTitulo {
  text-transform: uppercase;
  font-size: 1.5em;

}
.API p{
  font-size: 1.5em;
}
.tccTexto {
  width: calc(50%);
  height: 100%;
  text-align: left;

}

.tccTexto p {
  font-weight: 400;
  font-size: 1.5rem;
}

.tccImagem {
  margin-left: auto;
  margin-right: auto;
}

.slideTcc {
  display: flex;
  justify-content: center;
}

.appTela,
.siteTela {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.116);
}

.appTela {
  width: 250px;
  display: none;
  border-radius: 22px;
}

.siteTela {
  display: none;
  width: 460px
}

.appTela:hover,
.siteTela:hover {
  scale: 1.1;
}

.show {
  transition: all 250ms ease;
  display: block;
}

.TCC {
  padding: 2rem;
}

.tccTextoBotoes {
  text-align: center;
}

.tccTextoBotoes a {
  margin-right: 10px;
}

.slideTccChange {
  width: 80px;
  cursor: pointer;
  margin: auto;
  padding: 6px;
  outline: 0;
  border-radius: 4px;
  border: 0;
  /* box-shadow: 0px 0px 8px var(--cor-preta); */
  background: var(--cor-preta);
  color: var(--cor-branco);
}

.githubBtn {

  width: max-content;
  cursor: pointer;
  /* margin: auto; */
  padding: 6px;
  outline: 0;
  border-radius: 4px;
  border: 0;
  /* box-shadow: 0px 0px 8px var(--cor-preta); */
  background: var(--cor-preta);
  color: var(--cor-branco);
}

.versiteBtn {
  background: var(--cor-destaque);
}

.changeSlideBtn {
  width: max-content;
  cursor: pointer;
  margin: auto;
  padding: 6px;
  outline: 0;
  border-radius: 4px;
  border: 0;
  background: var(--cor-destaque);
  color: white;
}
.verProjetosBtn{
  width: max-content;
  cursor: pointer;
  margin: auto;
  padding: 6px;
  outline: 0;
  border-radius: 4px;
  border: 0;
  background: var(--cor-destaque);
  color: white;
}
.contatos {
  padding-top: 40px;
  /* height: max-content; */
  text-align: center;
}

.contatosLinks {
  padding: 3rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
}

.formMessage {
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 0;
  box-sizing: border-box;
  height: 100px;
}

form {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
  font-family: sans-serif;
  color: var(--cor-preta);
  border-top: 4px solid var(--cor-destaque);
  padding: 2rem;
  width: max-content;
  margin: auto;
  background: var(--cor-teste);
}

form label {

  text-align: left;
  display: block;
}

form input,
.submitBtn,
textarea {
  width: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24);
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 0.5rem;
}

form textarea {
  height: 80px;
}

.submitBtn {
  cursor: pointer;
}
.submitBtn:hover{
  background: rgb(255, 255, 255);
}
.contatosContainer p {
  padding: 10px 10px;
}

.contatosContainer svg:hover {
  transition: all 0.2s;
  transform: scale(1.4);
}

footer {
  padding: 4rem;
  background: var(--cor-footer);
  display: flex;
  justify-content: space-around;
}

footer p {
  color: var(--cor-preta);
}

.footerImg {
  border-radius: 100%;
  width: 42px;
}

.textAnim {
  opacity: 0;
}

.textAnim2 {
  /* opacity: 0; */
  transform: translateY(40px);
}

/*Seção da responsividade*/
@media (max-width: 1600px) {

  .habilidadesItem p {
    font-size: 1rem;
  }

  .habilidadesItem p:last-child {
    font-size: 1rem;
  }

  header {
    padding: 0.8rem;
  }

  .nomeHome {
    font-size: 2.0rem;
  }

  .home-texto p:last-child {
    font-size: 1.5rem;
  }

  .QuemSouP {
    font-size: 2rem;
  }
}

@media (max-width: 1400px) {
  .carrossel {
    width: 1000px;
  }

  .carrossel .container {
    width: 2000px;
  }

  .slide {
    width: 1000px;
  }

  .projetos {
    height: max-content;
  }

  .tccTexto {
    text-align: center;
    width: inherit;
  }

  .tccTexto {
    width: calc(50%);
  }
}

@media (max-width: 1024px) {
  .sobreContainerImg{
    margin-left: 0;
  }
  .TCC {
    padding: 2rem;
  }

  .API {
    padding: 2rem;
  }

  .home {
    height: 768px;
    padding-top: 8rem;
  }

  .tccTexto {
    width: 100%;
  }

  .tccImagem {
    padding-bottom: 3rem;
  }

  .carrossel {
    width: calc(100vw - 2rem);
    margin: 0 1rem;
  }

  .carrossel .container {
    width: calc(200vw - 2rem);

  }

  .slide {
    width: calc(100vw - 2rem);

  }

  .tccConteudo {
    flex-direction: column;
  }

  .home {
    flex-direction: column;
  }

  .textWriting {
    padding-right: 20px;
    padding-left: 20px;
  }

  .sobreContainer {
    flex-direction: column;
    align-items: center;
  }

  .sobreContainerImg {
    margin-top: 2.5rem;
  }

  .sobreContainer img {
    max-width: 200px;
  }

  .home-texto {
    text-align: center;
    margin: 0;
  }

  .nomeHome {
    max-width: none;
  }

  .homeImg {
    max-width: 300px;
  }
}

@media (max-width: 800px) {
  .footer1 {
    display: none;
  }

  .homeImg {
    max-width: 250px;
  }

  .siteTela {
    width: 420px;
  }
}

@media (max-width: 760px) {

  .habilidades {
    height: max-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

}

@media (max-width: 580px) {
  .API ul {
    list-style-type: none;
  }

  .API {
    padding: 12px;
  }

  .slideTccTitulo {
    font-size: 2rem;
  }

  .tccTexto p {
    font-size: 1.5rem;
  }

  .tccConteudo {
    padding: 1rem;
  }

  .appTela {
    width: 150px;
  }

  .siteTela {
    width: 260px;
  }
}

@media (max-width: 690px) {
  .imgTheme {
    position: static;
  }

  .menu {
    align-items: center;
    display: block;
  }

  .sub-menu {
    text-align: center;
    gap: 1rem;
    position: relative;
    width: max-content;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--cor-teste);
    left: -140%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.295);
  }

  .sub-menu a {
    display: block;
    font-size: 1rem;

  }

  header nav a {
    display: none;
  }

  .homeImg {
    max-width: 200px;
  }
}

@media (max-height: 400px) {
  .modal p {
    font-size: 0.5rem;
  }

  .modal {
    top: 0;
  }
}

@media (max-width: 435px) {
  .habilidadesContainer {

    margin-left: 0;
    margin-right: 0;

  }

  .projetosLinks {
    flex-direction: column;
    gap: 1rem;
  }

  .changeSlideBtn {
    transform: translateX(0);
  }
}