* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Pacifico&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.mochiy-pop-one-regular {
  font-family: "Mochiy Pop One", serif;
  font-weight: 400;
  font-style: normal;
}
  
::selection {
  color: var(--cor-branco);
  background: var(--cor-preta);
}
body::-webkit-scrollbar {
  display: none; 
}
:root {
  --cor-preta: #333333;
  --cor-branco: #ffffff;
  --cor-branco-secundaria: linear-gradient(271deg, #ffffff 0%, #f1eef9 100%);
  --cor-cinza: rgb(90, 90, 90);
  --cor-gif: 0px 0px 20px 0px #0000000e;
  --habCard-shadow: 0px 0px 12px #0000004d;
  --cor-destaque: #00BFFF;
  --cor-footer: #d8d9e1;
  --cor-teste: rgb(255, 255, 255);
  --cor-teste2: rgba(0, 19, 65, 0.039);
  --tamanho-secao: 1024px;
  --header-shadow: -10px 20px 20px 0px rgba(122, 175, 255, 0.40);
  --item-shadow: 0px 10px 20px 0px rgba(122, 175, 255, 0.40);
  --cor-projeto: white;
  --cor-card: linear-gradient(271deg, #ffffff 0%, #f1eef9 100%);
  --cor-span: linear-gradient(-90deg, #5dd6ff 0%, #09a1cf 100%);
}

.dark-theme {
  --cor-preta: #ffffff;
  --cor-branco: #0b0b0c;
  --cor-branco-secundaria: #101012;
  --cor-cinza: rgb(201, 201, 201);
  --cor-gif: 0px 0px 20px #4d53ff1c;
  --habCard-shadow: 0px 0px 12px #778bff63;
  --cor-destaque: #00BFFF;
  --cor-footer: #060608;
  --cor-teste: #09090b;
  --cor-teste2: rgba(255, 255, 255, 0.03);
  --header-shadow: -10px 20px 25px 0px rgba(0, 0, 0, 0.45);
  --item-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.45);
  --cor-projeto: rgb(255 255 255 / 5%);
  --cor-card: rgb(255 255 255 / 5%);
  --cor-span: linear-gradient(-90deg, #7edcfc 0%, #03afe9 100%);
}

.span {
  background: var(--cor-span);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--cor-destaque);
}

.span::selection {
  -webkit-text-fill-color: var(--cor-branco);
  background: var(--cor-preta);
}
.projetosBtn {
  background: var(--cor-span);
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  outline: 0;
  padding: 4px 12px;
  font-size: 24px;
  width: max-content;
  transition: scale 250ms ease;
}
.projetosBtn:hover{
  scale: 0.9;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--cor-branco-secundaria);
}

a, h1, h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: var(--cor-preta);
}
li, p{
  font-family: sans-serif;
  font-weight: 400;
  color: var(--cor-preta);
}
a {
  color: var(--cor-preta);
  text-decoration: none;
}

.textAnim {
  font: 700 max(36px,3vw) /max(48px,5vw) sans-serif;
}
.imgTheme {
  position: fixed;
  cursor: pointer;
  top: 50%;
  right: 5%;
  border-radius: 8px;
  transition: background 200ms ease;
  z-index: 10;
  margin: 0 auto;
  display: block;
  overflow: "visible"
}
.mouse__container{
  display: block;
  margin: 0 auto;
  width: max-content;
}
.paper{
  position: absolute;
}
.paper svg g path{
  fill: var(--cor-destaque);
}

